#root{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	font-size: 1.05vw;
	background-color: lavender
}

@media screen and (max-aspect-ratio: 10/16) {
	#root{
		flex-direction: column;
		font-size: 1.5vw;
	}
}

.ReactModal__Content {
	width: 40%; 
	height: 60%;
	padding: 20px;
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0 1em 3em rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	font-size: 1vw
}

button:hover{
	scale: 1.1;
}


